# Build output
bin/
obj/

# Avalonia compile artifacts
*.axaml.cs~

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.swp
*.temp

# IDE-specific
.vscode/
.idea/
*.code-workspace

# OS crap
.DS_Store
Thumbs.db
ehthumbs.db

# Logs
*.log

# Rider
.idea/
*.sln.iml

# Dotnet tools
/.vs/
